
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/assets/quicksplat/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/quicksplat/js/index.js"></script>
</head>
<body>

<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">
            QuickSplat: Fast 3D Surface Reconstruction via Learned Gaussian Initialization
          </h1>
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a href="https://liu115.github.io">Yueh-Cheng Liu</a>
            </span>
            <span class="author-block">
              <a href="https://niessnerlab.org/members/lukas_hoellein/profile.html">Lukas Höllein</a>
            </span>
            <span class="author-block">
              <a href="https://www.niessnerlab.org">Matthias Nießner</a>
            </span>
            <span class="author-block">
              <a href="https://www.3dunderstanding.org/team.html">Angela Dai</a>
            </span>
          </div>
          <div class="is-size-5 publication-authors">
            <span class="author-block">Technical University of Munich</span>
          </div>

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- Arxiv Link -->
              <span class="link-block">
                <a href="https://arxiv.org/abs/2505.05591"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>arXiv</span>
                </a>
              </span>
              <!-- Code Link -->
              <span class="link-block">
                <a href="#"
                   class="external-link button is-normal is-rounded is-dark" disabled>
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code (coming soon)</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">

      <div class="column is-four-fifths">
        <div class="publication-video">
          <iframe
            src="https://www.youtube.com/embed/2IA_gnFvFG8?si=caRNtFHPlKjTtYES"
            title="QuickSplat: Fast 3D Surface Reconstruction via Learned Gaussian Initialization"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
        </iframe>
      </div>
    </div>
  </div>

  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Abstract</h2>
        <div class="content has-text-justified">
          <p>
            Surface reconstruction is fundamental to computer vision and graphics, enabling applications in 3D modeling, mixed reality, robotics, and more.
            Existing approaches based on volumetric rendering obtain promising results, but optimize on a per-scene basis, resulting in a slow optimization that can struggle to model under-observed or textureless regions.
          </p>
          <p>
            We introduce QuickSplat, which learns data-driven priors to generate dense initializations for 2D gaussian splatting optimization of large-scale indoor scenes.
            This provides a strong starting point for the reconstruction, which accelerates the convergence of the optimization and improves the geometry of flat wall structures.
            We further learn to jointly estimate the densification and update of the scene parameters during each iteration; our proposed densifier network predicts new Gaussians based on the rendering gradients of existing ones, removing the needs of heuristics for densification.
            Extensive experiments on large-scale indoor scene reconstruction demonstrate the superiority of our data-driven optimization.
            Concretely, we accelerate runtime by 8x, while decreasing depth errors by up to 48% in comparison to state of the art methods.
          </p>
            
        </div>
      </div>
    </div>
    <!--/ Abstract. -->
  </div>
</section>


<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code>@article{liu2025quicksplat,
  title={QuickSplat: Fast 3D Surface Reconstruction via Learned Gaussian Initialization},
  author={Liu, Yueh-Cheng and H{\"o}llein, Lukas and Nie{\ss}ner, Matthias and Dai, Angela},
  journal={arXiv preprint arXiv:2505.05591},
  year={2025}
}</code></pre>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This website is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>, which was adopted from 
            <a href="https://github.com/nerfies/nerfies.github.io">Nerfies</a> project page.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>